body {
  font-family: 'Raleway', sans-serif;
}

.buttons {
  margin: auto;
  display: block;
  text-align: center;
}
.buttons .button {
  border: none;
  margin: auto 5px;
  padding: 10px;
  height: 38px;
  background-color: #16a085;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.buttons .button:hover {
  opacity: 0.85;
}

#quote-box {
  border-radius: 4px;
  position: relative;
  margin: 10% auto;
  width: 40%;
  padding: 40px 50px;
  background-color: #2c3e50;
}

#text {
  font-size: 1.5em;
  font-weight: 500;
}
#text .text-text {
  margin-left: 2.5%;
  color: white;
}

#author {
  margin: 5% auto;
  color: white;
  text-align: right;
  opacity: 0.75;
}
